.content {
	display: flex;
	flex-wrap: wrap;
}

@media screen and (max-width: 535px) {
	.navbar-toggle .collapsed {
		float:right;
	}

	a {
		font-size: 10px;
	}

	h1 {
		font-size: 26px;
	}

	h2 {
		font-size: 18px;
	}

	h3 {
		font-size: 15px;
	}

	footer p {
		font-size: 12px;
	}
}

@media screen and (max-width: 768px) {

}

@media screen and (min-width: 992px) {
	.featured-hr {
		display: none;
	}

	h2 {
		margin:20px 0px 20px 0px;
	}
}

/*@media screen and (min-width: 850px) {
	main, .header__inner, .nav, .content {
    width: 850px;
    margin-left: auto;
    margin-right: auto;
  }
}