hr { /* Line between Jumbotron and Featured Work*/
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}

/* Common CSS */
.project-title {
  margin-top: 0px;
}

.top-buffer {
  margin-top: 20px;
  padding-top: 30px;
}

.full-buffer {
  padding-top: 70px;
}

.layer { /*Layer over image to improve text readability*/
  background-color: rgba(285, 285, 290, 0.45);
  position: absolute;
  left: 0; /*pushes all the way to the left*/
  width: 100%;
}

.header-info {
	margin-top: 60px;
	margin-bottom: 15px;
}

.nav__list {
	width: 100%;
	padding: 0;
	margin: 0;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* JUMBOTRON */
html,body {
  padding-top: 5px;
	height: 100%;
	width: 100%;
}

.jumbotron {
	background-color:inherit;
}

.container-full-bg {
	width: 100%;
	height: 100%;
	max-width: 100%;
	background-position: center;
	background-size: cover;
  background-image: url('https://placeimg.com/1024/700/any');
}

.container-full-bg .container, 
.container-full-bg .container .jumbotron {
	height: 100%;
	width: 100%;
}

/* FOOTER CSS */

.footer {
  /*position: absolute;*/
  margin-top: 30px;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  /*height: 60px;*/
  background-color: #f5f5f5;
}

.footer-margin {
  margin-top: 0px;
}

.footer, .caption a {
	color: inherit;
	text-decoration: none;
}

.footer a {
	padding: 5px;
}

/* ON HOVER EFFECT */

/*Footer Icon Hover*/
.fa:hover {
  color: black;
}

/*Featured Work Hover*/
.thumbnail {
  position: relative;
  overflow: hidden;
  border: 0;
}
 
.caption {
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(285,285,290,0.5);
  width: 100%;
  height: 100%;
  padding: 2%;
  display: none;
  text-align: center;
  z-index: 2;
}

/* Doubling the specificity of the .caption selector*/
.caption.caption {
  color: #fff;
}

.caption h3 {
  position: relative;
  top: 40%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* CONTACT FORM */
.form-control-feedback {
  position: relative;
  display: inline;
  top: 0;
  line-height: 14px;
}