/* Common CSS */
a {
	color:#757575;
}

a:hover {
	color: black
}

.center-block {
	margin-left: auto;
	margin-right: auto;
	display:block; 
}

.chart {
	position: relative;
	display: inline-block;
	width: 150px;
	height: 150px;
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
}
.chart p {
	font-size: 1.2em;
}

.error-page.error-page {
	background-image: url('http://placecage.com/gif/1124/700');
}

.full-buffer {
	padding-top: 70px;
}

.header-info {
	margin-top: 60px;
	margin-bottom: 15px;
}

.layer { /*Layer over image to improve text readability*/
	background-color: rgba(285, 285, 290, 0.45);
	position: absolute;
	left: 0; /*pushes all the way to the left*/
	width: 100%;
}

.map-spacer {
	margin-top: 0.5%;
}

.nav__list {
	width: 100%;
	padding: 0;
	margin: 0;
}

.online-title {
	font-size: 2.5em;
}
.page-education, .page-experience, .page-map {
	background-color: #f5f5f5;
}

.project-title {
	margin-top: 0px;
}

.row {
	padding-top: 20px;
	padding-bottom: 20px; 
}

.section-subtitle {
	margin-top: 20px;
}

.spacer {
	background-color: #3498db;
	width: 100px;
	height: 2px;
	margin: auto;
}

.section-title {
	font-size: 3em;
}

.section-subtitle {
	font-size: 1.5em;
	color: #757575;
}

.top-buffer {
	margin-top: 20px;
	padding-top: 30px;
}

.vertical-center {
	min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
	min-height: 100vh; /* These two lines are counted as one :-)       */
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

/* JUMBOTRON */
html,body {
	padding-top: 5px;
	height: 100%;
	width: 100%;
}

.container-full-bg {
	width: 100%;
	height: 100%;
	max-width: 100%;
	background-position: center;
	background-size: cover;
	background-image: url('https://placeimg.com/1024/700/tech');
}

.container-full-bg .container, 
.container-full-bg .container .jumbotron {
	height: 100%;
	width: 100%;
}

.jumbotron {
	background-color:inherit;
}
/* FOOTER CSS */
.footer {
	/*position: absolute;*/
	margin-top: 30px;
	bottom: 0;
	width: 100%;
	position: relative;
	/* Set the fixed height of the footer here */
	/*height: 60px;*/
	background-color: #f5f5f5;
}

.footer-margin {
  margin-top: 0px;
}

.footer, .caption a {
	color: inherit;
	text-decoration: none;
}

.footer a {
	padding: 5px;
}

/* ON HOVER EFFECT */
/* PROJECT IMG HOVER */
.thumbnail {
	position: relative;
	overflow: hidden;
	border: 0;
}
 
.caption {
	position: absolute;
	top: 0;
	right: 0;
	background: rgba(285,285,290,0.5);
	width: 100%;
	height: 100%;
	padding: 2%;
	display: none;
	text-align: center;
	z-index: 2;
}

/*Footer Icon Hover*/
.fa:hover {
	color: black;
}

/* Doubling the specificity of the .caption selector*/
.caption.caption {
	color: #fff;
}

.caption h3 {
	position: relative;
	top: 40%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.caption p {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

/* Map Properties */
#map {
	display: block;
	position: relative;
	height: 400px;
	margin-left: 5%;
	margin-right: 5%;
}

#mapDiv {
	position: relative;
	height: 100%;
	width: 100%;
	padding-bottom: 2%;
}
